@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --navy: #243C4F;
    --skyblue: #CBE7F5;
}

html,
body {
    overflow-x: hidden !important;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scrollbar-width: thin;
}

*::before,
*::after {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

*::placeholder {
    color: gray !important;
}

#main {
    width: 100%;
    padding: 8rem 0rem;
}

#background {
    background-image: url("../assets/images/bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.buttonOne {
    outline: none;
    border: none;
    background-color: var(--navy);
    color: white;
    padding: 8px 32px;
    border-radius: 4px;
}

.buttonTwo {
    outline: none;
    border: none;
    border: 1px solid var(--navy);
    background-color: transparent;
    padding: 8px 32px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 17px;
}

p,
li,
a,
span {
    letter-spacing: 0.8px !important;
    font-weight: 400 !important;
}



@media screen and (max-width:768px) {
    h1 {
        font-size: 2.2rem !important;
    }

    p {
        font-size: 15px !important;
    }

    #main {
        padding: 6rem 0rem;
    }
}

@media screen and (max-width:488px) {
    h1 {
        font-size: 1.6rem !important;
    }

   
}